<section class="contenedor3">
    <div class="container3">
        <div class="cont3_title">
            <h2>¿POR QUÉ ATENDERTE CON NOSOTROS?</h2>
        </div>
        <div class="cont3_total">
            <div class="cont3_div">
                <div class="cont3_img">
                    <img src="./3_img1.png" alt="" />
                </div>
                <div class="cont3_text">
                    <p>Staff Médico <br />Subespecializado</p>
                </div>
            </div>
            <div class="cont3_div">
                <div class="cont3_img">
                    <img src="./3_img2.png" alt="" />
                </div>
                <div class="cont3_text">
                    <p>Innovación Médica <br />Casos Complejos</p>
                </div>
            </div>
            <div class="cont3_div">
                <div class="cont3_img">
                    <img src="./3_img3.jpg" alt="" />
                </div>
                <div class="cont3_text">
                    <p>Médicos <br />Internacionales</p>
                </div>
            </div>
            <div class="cont3_div">
                <div class="cont3_img">
                    <img src="./3_img4.jpg" alt="" />
                </div>
                <div class="cont3_text">
                    <p>Acompañamiento <br />Espiritual</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .container3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cont3_total {
        display: flex;
    }

    .cont3_title {
        padding: 10px;
    }

    .cont3_title h2 {
        font-family: "Poppins", Sans-serif;
        color: #164388;
        font-weight: 700;
        font-size: 2rem;
    }

    .cont3_title h2:after {
        content: "";
        margin: 0 auto;
        display: block;
        width: 30%;
        height: 2px;
        background-color: #00a7e1;
    }

    .cont3_total {
        padding: 32px 0 0 0;
        gap: 40px;
    }

    .cont3_img img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }

    .cont3_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cont3_text p {
        text-align: center;
        padding-top: 20px;
        color: #495057;
        font-family: "Poppins", Sans-serif;
        letter-spacing: -0.02em;
        font-size: 1.5rem;
    }
</style>
