<section class="contenedor5">
    <div class="container5">
        <div class="cont5_text">
            <h2>PROGRAMA INTEGRAL <br /> DE MATERNIDAD</h2>
            <p>
                Un programa que brinda atención de parto y <br />post parto
                desde S/ 3900
            </p>
            <a href="" class="container_button"
                >CONOCE MÁS <i class="fa-solid fa-chevron-right"></i></a
            >
        </div>
        <div class="cont5_img">
            <img src="./5_img1.avif" alt="" />
        </div>
    </div>
</section>

<style>
    .contenedor5 {
        margin: 80px 0;
        background-image: url(./5_img.avif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 385px;
    }

    .container5 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .cont5_text h2 {
        font-family: "Poppins", Sans-serif;
        color: #164388;
        font-weight: 700;
        font-size: 2.5rem;
    }

    .cont5_text p {
        font-family: "Poppins";
        font-weight: 300;
        padding: 20px 0;
    }

    .cont5_text a {
        text-decoration: none;
        color: #fff;
        font-family: "Poppins";
    }

    .fa-solid {
        font-size: 10px;
        padding-left: 8px;
    }

    .container_button {
        width: 170px;
        height: 40px;
        background-color: #00a7e1;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .container_button a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: larger;
    }

    .container_button a i {
        font-size: 20px;
    }
</style>
