<section class="contenedor6">
    <div class="container3">
        <div class="cont3_title">
            <h2>NOVEDADES</h2>
        </div>
        <div class="cont6_total">
            <div class="card" style="width: 22.2rem; height: 26rem;">
                <img
                    class="card-img-top"
                    src="./6_img1.png"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">La clínica</h5>
                    </div>
                    <p class="card-text">
                        CONTROLA EL DOLOR CRÓNICO CON FISITERAPIA
                    </p>
                    <p class="card-text1">
                        <i class="ri-time-line"></i> 4 febrero, 2024
                    </p>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img
                    class="card-img-top"
                    src="./6_img2.jpg"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">La clínica</h5>
                    </div>
                    <p class="card-text">
                        Clínica San Juan de Dios presentó un tomógrafo con
                        inteligencia artificial que permite el diagnóstico de
                        cáncer y otras enfermedades.
                    </p>
                    <p class="card-text1">
                        <i class="ri-time-line"></i> 30 mayo, 2024
                    </p>
                </div>
            </div>
            <div class="card" style="width: 22rem; height: 26rem;">
                <img
                    class="card-img-top"
                    src="./6_img3.jpg"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <div class="title">
                        <h5 class="card-title">La clínica</h5>
                    </div>
                    <p class="card-text">ANIVERSARIO 72° SAN JUAN DE DIOS</p>
                    <p class="card-text1">
                        <i class="ri-time-line"></i> 12 marzo, 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .container3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .cont6_total {
        padding-top: 30px;
        display: flex;
        gap: 40px;
    }

    .cont3_title {
        padding: 10px;
    }

    .cont3_title h2 {
        font-family: "Poppins", Sans-serif;
        color: #164388;
        font-weight: 700;
        font-size: 2rem;
    }

    .cont3_title h2:after {
        content: "";
        margin: 0 auto;
        display: block;
        width: 30%;
        height: 2px;
        background-color: #00a7e1;
    }

    .card-text {
        font-family: "Poppins";
        font-weight: 700;
        letter-spacing: -0.02em;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.7);
        line-height: 25px;
    }

    .card {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
    }

    .card-text1 {
        font-family: "Poppins";
        font-size: 0.9rem;
        font-weight: 300;
    }

    .ri-time-line {
        font-size: 20px;
    }

    .card:hover {
        transform: translateY(-10px);
        transition: 0.5s;
    }

    .card:not(:hover) {
        transform: translateY(0px);
        transition: 0.5s;
    }

    .title {
        width: 25%;
        display: flex;
        background-color: #dee8fa;
        padding: 6px 9px;
        margin-bottom: 15px;
    }

    .card-title {
        margin: auto;
        color: #2a5496;
        font-family: "Poppins";
        font-weight: 700;
        font-size: 0.7rem;
    }
</style>
