<section class="contenedor9">
    <div class="container9">
        <div class="cont9_frame">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.6801040869154!2d-76.99065988619084!3d-12.06551735237678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c63f247b12d9%3A0x266cada860b1085c!2sCl%C3%ADnica%20San%20Juan%20de%20Dios%20Lima%20%7C%20Per%C3%BA!5e0!3m2!1ses-419!2spe!4v1717859056195!5m2!1ses-419!2spe"
                width="550"
                height="550"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="cont9_text">
            <h3>Contáctanos</h3>
            <div class="contacto">
                <div class="contac">
                    <div class="contac_icon">
                        <i class="ri-map-pin-line"></i>
                    </div>
                    <div class="contac_text">
                        <p>Av. Nicolás de Arriola N°3250 San Luis</p>
                        <span>Lima - Perú</span>
                    </div>
                </div>
                <div class="contac">
                    <div class="contac_icon">
                        <i class="ri-phone-line"></i>
                    </div>
                    <div class="contac_text">
                        <p>(01) 319 1414 <br /></p>
                        <span>Línea de atención</span>
                    </div>
                </div>
                <div class="contac">
                    <div class="contac_icon">
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    <div class="contac_text">
                        <p>944 576 008</p>
                        <span>Citas</span>
                    </div>
                </div>
            </div>
            <p style="font-family: 'Poppins';">
                La clínica San Juan de Dios, trabaja en el mejoramiento continuo
                en todos sus servicios. Por favor escriba sus comentarios y
                sugerencias.
            </p>
            <a
                style="font-family: 'Poppins';"
                href=""
                class="container_button cont9_a"
                >Ir a Contacto <i class="fa-solid fa-chevron-right"></i></a
            >
        </div>
    </div>
</section>

<style>
    .contenedor9 {
        background-color: #fff;
        padding: 80px 48px;
        display: flex;
        justify-content: center;
    }

    .container9 {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        width: 80%;
        --font: "Poppins";
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.3s ease;
        border-radius: 10px;
    }

    .container9:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }

    .cont9_text {
        padding-left: 30px;
    }

    .cont9_text h3 {
        color: #174288;
        font-weight: 700;
        font-size: 2.25rem;
        border-left: 3px solid #01a6e0;
        padding-left: 10px;
    }

    .contacto .contac {
        display: flex;
        align-items: center;
    }

    .cont9_text {
        font-family: var(--font);
    }

    .cont9_a {
        width: 100%;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        height: 50px;
    }

    .cont9_a:hover {
        text-decoration: none;
        color: #fff;
    }

    .contacto {
        padding: 30px 0;
    }

    .contac {
        display: flex;
        align-items: center;
        padding: 5px 0;
    }

    .contac_icon {
        width: 55px;
        height: 55px;
        background-color: #174288;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .contac_icon i {
        color: white;
        font-size: 24px;
    }

    .contac p {
        font-family: var(--font);
        color: rgba(0, 0, 0, 0.7);
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.28;
    }

    .contac_text {
        line-height: 1px;
    }
</style>
