<section class="contenedor7">
    <div class="cont7">
        <div class="cont7_img">
            <img src="./7_img.png" alt="" />
        </div>
        <div class="cont7_text">
            <h2>ENCUENTRA TU MÉDICO</h2>
            <p>
                Con nuestra herramienta de búsqueda en línea. ¡Orientamos tu
                bienestar con especialistas que se preocupan por ti!
            </p>
        </div>
        <a href="" class="container_button"
            >Ver especialistas <i class="fa-solid fa-chevron-right"></i></a
        >
    </div>
</section>

<style>
    .contenedor7 {
        background: linear-gradient(
            to right,
            #17488f,
            #068cca,
            #4ec3ea,
            #ecf8fd
        );
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0;
        margin: 80px 0;
    }

    .cont7 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .cont7_img {
        display: flex;
    }

    .cont7_img img {
        width: 200px;
    }

    .cont7_text {
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 35%;
    }

    .cont7_text h2 {
        font-family: "Poppins", Sans-serif;
        color: #fff;
        font-weight: 800;
        font-size: 2rem;
    }

    .cont7_text p {
        font-family: "Poppins";
        font-weight: 500;
        color: #a4dbf0;
        font-size: 17px;
        line-height: 26px;
    }

    .cont7 a {
        width: 220px;
        height: 50px;
        color: #fff;
        font-family: "Poppins";
        font-size: 17px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.23);
        text-decoration: none;
    }

    .fa-solid {
        font-size: 10px;
        padding-left: 8px;
    }

    .container_button {
        width: 170px;
        height: 40px;
        background-color: #00a7e1;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .container_button a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: larger;
    }

    .container_button a i {
        font-size: 20px;
    }
</style>
