<section class="contenedor11">
    <div class="container">
        <div class="container__left">
            <div class="content">
                <h1>CLÍNICA SAN JUAN DE DIOS</h1>
                <h2>BIENVENIDOS</h2>
                <h3>
                    CON NOSOTROS TENER SALUD ES VIVIR AL 100% <br /> DESDE HACE 70
                    AÑOS
                </h3>

                <div class="container_button">
                    <a href=""
                        >VER MÁS <i class="fa-solid fa-circle-chevron-right"
                        ></i></a
                    >
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .contenedor11 {
        height: 90vh;
        background-image: url("./img.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 150px;
    }

    .container {
        display: flex;
        min-height: 50vh;
        max-width: var(--max-width);
        margin: auto auto auto 150px;
        padding: 2rem;
        padding-top: 150px;
    }

    .container__left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .container__left .content {
        max-width: 700px;
        display: grid;
        gap: 1rem;
        margin-bottom: 350px;
    }

    .content {
        max-width: 100%;
    }

    .content h1 {
        font-size: 3rem;
        line-height: 1rem;
        color: #10a7e6;
        font-weight: 900;
    }

    .content h2 {
        font-size: 5.5rem;
        color: #012e87;
        font-weight: 900;
    }

    .content h3 {
        font-size: 1.5rem;
        color: #012e87;
        line-height: 1.5rem;
    }

    .container_button {
        width: 170px;
        height: 40px;
        background-color: #00a7e1;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .container_button a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: larger;
    }

    .container_button a i {
        font-size: 20px;
    }
</style>
