<header>
    <a href="../index.html" class="logo">
        <img src="logo.avif" alt="logo" />
    </a>
    <div class="navigation">
        <ul class="menu">
            <div class="close-btn"></div>
            <li class="menu-item"><a href="./index.html">INICIO</a></li>
            <li class="menu-item">
                <a class="sub-btn" href="#"
                    >NOSOTROS <i class="fas fa-angle-down"></i>
                </a>
                <ul class="sub-menu">
                    <li class="sub-item"><a href="">QUIENES SOMOS</a></li>
                    <li class="sub-item"><a href="">FUNDADOR</a></li>
                    <li class="sub-item"><a href="">ORDEN HOSPITALARIA</a></li>
                    <li class="sub-item"><a href="">MAPA DE UBICACIÓN</a></li>
                    <li class="sub-item">
                        <a href="">TRABAJA CON NOSOTROS</a>
                    </li>
                    <li class="sub-item"><a href="">DERECHOS Y DEBERES</a></li>
                    <li class="sub-item">
                        <a href="">PASTORAL DE LA SALUD Y SOCIAL</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="sub-btn" href="#"
                    >ESPECIALIDAD <i class="fas fa-angle-down"></i>
                </a>
                <ul class="sub-menu">
                    <li class="sub-item">
                        <a href="">ESPECIALIDADES ADULTOS</a>
                    </li>
                    <li class="sub-item">
                        <a href="">ESPECIALIDADES PEDIÁTRICAS</a>
                    </li>
                    <li class="sub-item">
                        <a href="">MEDICINA FÍSICA Y <br /> REHABILITACIÓN</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="sub-btn" href="#"
                    >SERVICIO <i class="fas fa-angle-down"></i>
                </a>
                <ul class="sub-menu">
                    <li class="sub-item">
                        <a href="">TERAPIA FÍSICA Y <br /> REHABILITACIÓN</a>
                    </li>
                    <li class="sub-item">
                        <a href="">PROGRAMA DE MATERNIDAD</a>
                    </li>
                    <li class="sub-item">
                        <a href="">PAQUETES PRESERVATIVOS</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="sub-btn" href="#"
                    >RESPONSABILIDAD SOCIAL <i class="fas fa-angle-down"></i>
                </a>
                <ul class="sub-menu">
                    <li class="sub-item"><a href="">DONACIONES</a></li>
                    <li class="sub-item"><a href="">PROYECTOS SOCIALES</a></li>
                    <li class="sub-item"><a href="">BALANCE SOCIAL</a></li>
                    <li class="sub-item">
                        <a href="">ALIADOS ESTRATÉGICOS</a>
                    </li>
                    <li class="sub-item"><a href="">VOLUNTARIADO</a></li>
                    <li class="sub-item"><a href="">HERMANAMIENTO</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a class="sub-btn" href="#"
                    >CONTACTO <i class="fas fa-angle-down"></i>
                </a>
                <ul class="sub-menu">
                    <li class="sub-item"><a href="">CONTÁCTANOS</a></li>
                    <li class="sub-item">
                        <a href="">PREGUNTAS FRECUENTES</a>
                    </li>
                    <li class="sub-item">
                        <a href="">TRABAJA CON NOSOTROS</a>
                    </li>
                    <li class="sub-item">
                        <a href="">ALIADOS ESTRATÉGICOS</a>
                    </li>
                    <li class="sub-item"><a href="">HAZTE HERMANO SJD</a></li>
                    <li class="sub-item"><a href="">HAZTE BIENHECHOR</a></li>
                    <li class="sub-item"><a href="">HAZTE VOLUNTARIADO</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a
                    class="register"
                    style="color: #fff; font-weight: 900;"
                    href="./paginas/Contacto/index.html">PORTAL DEL PACIENTE</a>
            </li>
        </ul>
    </div>
    <div class="menu-btn"></div>
</header>

<style>
    /*------------------------HEADER----------------------------*/
    header {
        font-family: "Roboto", sans-serif;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 0 50px;
        transition: 0.6s;
    }

    header .logo img {
        width: 350px;
        height: 120px;
    }

    header .navigation {
        position: relative;
        line-height: 75px;
        margin-top: 30px;
    }

    header .navigation .menu {
        position: relative;
        display: flex;
        justify-content: center;
        list-style: none;
        user-select: none;
    }

    .menu-item > a {
        font-family: "Poppins", sans-serif;
        color: #285293;
        font-size: 0.9em;
        text-decoration: none;
        padding: 15px 12px;
        position: relative;
        width: 100%;
    }

    .menu-item:not(:last-child) a::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 13px;
        width: 0;
        height: 3px;
        background: linear-gradient(
            to right,
            #1e3d77,
            #839abf,
            #dee5ef,
            #f7f8fb
        );
        transition: width 0.3s ease;
    }

    .menu-item:hover > a::after {
        width: 70%;
    }

    .sub-menu {
        display: none;
        list-style-type: none;
        position: absolute;
        background-color: #fff;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .sub-menu .sub-item {
        padding: 5px 20px;
    }

    .sub-menu .sub-item a {
        color: #333;
        text-decoration: none;
    }

    .register {
        border-radius: 50px;
        background-color: #01a7e3;
    }

    .menu-item .sub-menu {
        position: absolute;
        background: #fff;
        top: 74px;
        line-height: 20px;
        list-style: none;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
        pointer-events: none;
        transform: translateY(20px);
        opacity: 0;
        transition: 0.1 s;
        transition-property: transform, opacity;
    }

    .menu-item .sub-btn .fa-angle-down {
        padding: 0 5px;
    }

    .menu-item .sub-btn:hover .fa-angle-down {
        transform: rotate(180deg);
        transition: transform 0.5s;
    }

    .menu-item .sub-btn:not(:hover) .fa-angle-down {
        transform: rotate(0deg);
        transition: transform 0.5s;
    }

    .menu-item:hover .sub-menu {
        pointer-events: all;
        transform: translateY(0);
        opacity: 1;
        display: block;
        transition:
            opacity 0.3s ease,
            transform 0.3s ease;
    }

    .menu-item .sub-menu .sub-item a:hover {
        background-color: #164289;
        color: #fff;
        transition: 0.2s;
    }

    .menu-item .sub-menu .sub-item {
        position: relative;
        padding: 0;
        cursor: pointer;
        box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    }

    .menu-item .sub-menu .sub-item a {
        color: #285293;
        font-size: 0.8em;
        text-decoration: none;
        padding: 15px 30px;
        display: block;
    }

    .menu-item .sub-menu .sub-item:last-child:hover {
        border-radius: 0 0 8px 8px;
    }

    .menu-btn {
        display: none;
    }

    @media (max-width: 978px) and (min-width: 768px) {
        header .navigation .menu {
            font-size: 0.9em;
            position: fixed;
            display: block;
            background: #fff;
            min-width: 350px;
            height: 100vh;
            top: 0;
            right: -100%;
            padding: 50px;
            visibility: hidden;
            overflow-y: auto;
            transition: 0.5s;
            transition-property: right, visibility;
        }
        header .navigation .menu.active {
            right: 0;
            visibility: visible;
        }
        .menu-item {
            position: relative;
        }
        .menu-item .sub-menu {
            opacity: 1;
            position: relative;
            top: 0;
            transform: translateX(10px);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            overflow: hidden;
            display: none;
        }
        .menu-item:hover .sub-menu {
            transform: translateX(10px);
        }
        .menu-item .sub-menu .sub-item {
            box-shadow: none;
        }
        .menu-item .sub-menu .sub-item:hover {
            background: none;
        }
        .menu-item .sub-menu .sub-item a:hover {
            color: #4080ef;
            transition: 0.3s;
        }
        /*Green*/
        .menu-item .sub-menu .sub-item1 {
            box-shadow: none;
        }
        .menu-item .sub-menu .sub-item1:hover {
            background: none;
        }
        .menu-item .sub-menu .sub-item1 a:hover {
            color: #36cf61;
            transition: 0.3s;
        }
        /*--------*/
        .close-btn {
            position: absolute;
            background: url(./close.png) no-repeat;
            width: 40px;
            height: 40px;
            background-size: 25px;
            background-position: center;
            top: 0;
            left: 0;
            margin: 25px;
            cursor: pointer;
        }
        .menu-btn {
            background: url(./menu.png) no-repeat;
            width: 40px;
            height: 40px;
            background-size: 30px;
            background-position: center;
            cursor: pointer;
            display: block;
        }
        header {
            padding: 15px 20px;
        }
    }

    @media (max-width: 768px) {
        header .navigation .menu {
            font-size: 0.9em;
            position: fixed;
            display: block;
            background: #fff;
            min-width: 350px;
            height: 100vh;
            top: 0;
            right: -100%;
            padding: 50px;
            visibility: hidden;
            overflow-y: auto;
            transition: 0.5s;
            transition-property: right, visibility;
        }

        header .navigation .menu.active {
            right: 0;
            visibility: visible;
        }
        .menu-item {
            position: relative;
        }
        .menu-item .sub-menu {
            opacity: 1;
            position: relative;
            top: 0;
            transform: translateX(10px);
            background: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            overflow: hidden;
            display: none;
        }
        .menu-item:hover .sub-menu {
            transform: translateX(10px);
        }
        .menu-item .sub-menu .sub-item {
            box-shadow: none;
        }
        .menu-item .sub-menu .sub-item:hover {
            background: none;
        }
        .menu-item .sub-menu .sub-item a:hover {
            color: #4080ef;
            transition: 0.3s;
        }
        /*Green*/
        .menu-item .sub-menu .sub-item1 {
            box-shadow: none;
        }
        .menu-item .sub-menu .sub-item1:hover {
            background: none;
        }
        .menu-item .sub-menu .sub-item1 a:hover {
            color: #36cf61;
            transition: 0.3s;
        }
        /*--------*/
        .close-btn {
            position: absolute;
            background: url(./close.png) no-repeat;
            width: 40px;
            height: 40px;
            background-size: 25px;
            background-position: center;
            top: 0;
            left: 0;
            margin: 25px;
            cursor: pointer;
        }
        .menu-btn {
            background: url(./menu.png) no-repeat;
            width: 40px;
            height: 40px;
            background-size: 30px;
            background-position: center;
            cursor: pointer;
            display: block;
        }
        header {
            padding: 15px 20px;
        }
    }
</style>
